
<footer>
    <div class="container ">
      <div class="row">
        <div class="col-md-4">
          <h3>Sobre nosotros</h3>
          <p>Somos una papelería en línea dedicada a proveer todo lo que necesitas para tus proyectos escolares y de oficina.</p>
          <p><strong>Horario de atención:</strong> Lunes a Viernes de 9:00 a.m. a 6:00 p.m.</p>
        </div>
        <div class="col-md-4">
          <h3>Contáctanos</h3>
          <p><strong>Dirección:</strong> La Armenia Barrio San Virgilio</p>
          <p><strong>Teléfono:</strong> 0998821186</p>
          <p><strong>Correo electrónico:</strong> patriciomoralespaucar@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h3>Síguenos</h3>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-dark text-white py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2023 Bazar y Papelería Paper Marker. Todos los derechos reservados.</p>
          </div>
          <div class="col-md-6 text-right">
            <p>Desarrollado por Patricio Morales</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
