<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Papelería XYZ</title>
    <!-- Enlace al archivo de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Enlace a nuestro archivo de estilos personalizado -->
</head>

<body>

    <!-- Encabezado de la página -->

    <div class="container p-5 my-5 bg-dark text-white">
        <b><h1>BAZAR Y PAPELERÍA PAPER MARKER</h1></b>
        <p>No dudes en hacer tu visita te ofrecemos calidad y variedad de productos para el ámbito académico.</p>
    </div>
    <!-- Cuerpo de la página -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <b><h1>BIENVENIDO A BAZAR Y PAPELERÍA PAPER MARKER</h1></b>
                    <h3>Somos una papelería especializada en suministros escolares y de oficina. Ofrecemos una amplia
                        variedad de productos de alta calidad a precios competitivos.</h3>
                        
                </div>
                <div class="col-md-6">
                    <img src="assets/images/logotipo.png" alt="Imagen de la papelería" class="img-responsive">
                </div>
            </div>
        </div>
    </main>

    <!-- Scripts de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>